n8n/workflows/02_daily_digest.json
{
  "name": "PRIMMO Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-9am",
      "name": "Daily 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeRpc",
        "functionName": "get_claude_digest",
        "args": "={{ JSON.stringify({ since_hours: 24 }) }}"
      },
      "id": "get-digest",
      "name": "Get Unreviewed Queries",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase PRIMMO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-queries",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-queries",
      "name": "Any Queries?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const queries = $input.first().json;\nconst count = queries.length;\nlet totalCost = 0;\n\nlet digest = `📊 *PRIMMO Daily Report*\\n\\n`;\ndigest += `🤖 *${count} Claude Queries* in last 24h\\n\\n`;\n\nconst samples = queries.slice(0, 5);\nsamples.forEach((q, i) => {\n  totalCost += parseFloat(q.cost_usd || 0);\n  const preview = q.user_message.substring(0, 50) + (q.user_message.length > 50 ? '...' : '');\n  digest += `${i + 1}. \"${preview}\"\\n`;\n});\n\nif (count > 5) {\n  digest += `\\n... and ${count - 5} more\\n`;\n}\n\ndigest += `\\n💰 Total Cost: $${totalCost.toFixed(4)}\\n`;\ndigest += `\\n👉 Review these in the Admin Dashboard to add to FAQ`;\n\nreturn { json: { message: digest, count, totalCost } };"
      },
      "id": "format-digest",
      "name": "Format Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "whatsapp:{{ $env.ADMIN_WHATSAPP }}"
            },
            {
              "name": "From",
              "value": "={{ $env.TWILIO_PHONE_NUMBER }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "send-digest",
      "name": "Send to Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-queries",
      "name": "No Queries",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Daily 9 AM": {
      "main": [
        [
          {
            "node": "Get Unreviewed Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unreviewed Queries": {
      "main": [
        [
          {
            "node": "Any Queries?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Queries?": {
      "main": [
        [
          {
            "node": "Format Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Digest": {
      "main": [
        [
          {
            "node": "Send to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "PRIMMO",
      "createdAt": "2025-12-29T00:00:00.000Z",
      "updatedAt": "2025-12-29T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
